<!DOCTYPE html>
<html>
  <head>
    <title>Kloudless File Explorer</title>
    <%# Only change this line if you are moving explorer.css to a different
         location. %>
    <link rel="stylesheet" href="./explorer.css">
  </head>
  <body>

    <%#
        This line includes html elements for the File Explorer, you can move it
        around as long as it is inside body tag.
    %>
    <% include ../dist/template/explorer.html %>

    <%# Only change this line if you are moving explorer.js to a different
         location. DO NOT remove or change the "id" attribute %>
    <script id="kloudless-file-explorer-script" type="text/javascript"
            src="./explorer.js">
    </script>
  </body>
</html>
