<!DOCTYPE html>
<html>
  <head>
    <title>Kloudless File Picker</title>
    <%# Only change this line if you are moving picker.css to a different
         location. %>
    <link rel="stylesheet" href="./picker.css">
  </head>
  <body>

    <%#
        This line includes html elements for the File Picker. You can move it
        around as long as it is inside body tag.
    %>
    <% include ../dist/template/index.html %>

    <%# Only change this line if you are moving picker.js to a different
         location. DO NOT remove or change the "id" attribute %>
    <script id="kloudless-file-picker-script" type="text/javascript"
            src="./picker.js">
    </script>
  </body>
</html>
