node_modules
.tmp
dist
lib
# Disable linting for legacy scripts
src/picker/js/*
!src/picker/js/breadcrumb.js
!src/picker/js/dropdown.js
!src/picker/js/models/filesystem.js
!src/picker/js/app.js
# !src/picker/js/router-helper.js
# !src/picker/js/plupload-helper.js
src/loader/js/interface.js
dev-server/localization

!.eslintrc.js
!.eslintrc-ts.js