@import 'variables'

div.accounts
    background:#fdfdfd
    height:100%
    .containall
        padding:35px
        padding-top:113px
        .connectedaccounts
            .header
                clear: both
    .back
        padding: 20px 16px
        width:100%
        position:fixed
        z-index:10
        background-color: #f5f6f7
        .backcontain,.nobackcontain
            *:not(span)
                float:left
            img
                background-position:center
                margin:0
            span
                padding-top: 7px
                display: block
                @media only screen and (max-width: 440px)
                    padding-top: 0
        img.klogo
            margin-right: 10px
            display: block
            width: 32px
            height: 32px
        div.nobackbtn
            height: 20px
            width: 20px
            margin-top: 6px
            display: block
            float: left
            margin-right: 5px
            border-radius: 4px;
            border: 1px solid transparent;
        a.backbtn
            height: 20px
            width: 20px
            margin-top: 6px
            display: block
            float: left
            margin-right: 5px
            border-radius: 4px;
            border: 1px solid transparent;
            div.arrow
                width: 0
                height: 0
                border-top: 5px solid transparent
                border-bottom: 5px solid transparent
                border-right: 8px solid #888
                margin: 4px
            &:hover
                border-radius: 4px
                border: 1px solid #CCC
                box-shadow:0px 0px 1px 0px #AAA
                -moz-box-shadow:0px 0px 1x 0px #AAA
                -webkit-box-shadow:0px 0px 1px 0px #AAA
        span.hi
            font-size: 16px
            line-height: 30px
            float: left
    a.closeexplorer
        position:fixed
        top: 5px
        right: 5px
        z-index: 10
        width: 16px
        height: 16px
        background:url($icons_sheet) 0px -146px no-repeat

    .intro-message
        float: left;
        margin-bottom:15px
        &.more
            margin-top:40px
    .logout-message
        float: right
        margin-bottom:15px
        color: #2a8eff;
        font-size: 12px;
        &:hover
            cursor: pointer

    ul.linked-services
        list-style:none
        margin:0
        padding:0
    li.linked-service
        list-style:none
        padding:0
        margin:0
        width:100%
        border:1px solid #d7e5f5
        border-radius:3px
        overflow:hidden
        background:#fff
        &:last-child
            margin-bottom:20px
        &:not(:first-child)
            margin-top:20px
        div
            display:inline-block
            line-height:60px
            padding:0 20px
            float:left
            &.servicename
                width:30%
                white-space:nowrap
                overflow:hidden
                text-overflow:ellipsis
                img.servicelogo
                    width:28px
                    height: 22px
                    margin-top:-3px
                    margin-right:4px
                @media only screen and (max-width: 420px)
                    span
                        display:none
            &.accounts
                background:#f5f9ff
                min-height:60px
                float: right
                padding: 0
                width: 70%
                ul.accountnames
                    margin:0 !important
                ul.accountnames li.account
                    margin:0
                    list-style:none
                    padding: 20px 5% 10px 5%
                    &:not(:last-child)
                        border-bottom: 1px solid #d7e5f5
                    @media only screen and (max-width: 400px)
                        font-size:14px
                    &:before
                        background:url($icons_sheet) -1px 64px no-repeat
                        width: 16px
                        height: 16px
                        display: inline-block
                        content: " "
                        margin-left: -20px
                        margin-top: 3px
                    div
                        white-space: nowrap
                        text-overflow: ellipsis
                        overflow: hidden
                        width: 80%
                        padding: 0
                        height: 20px
                        line-height: 20px
                        cursor:pointer
                        a
                            color:#000000
                            &:hover
                                border-color: #3b97ff;
                                background: #fafeff;
                                color: #4a9eff;
                ul.accountnames a.alert
                    float: right
                    width:16px
                    height:16px
                    background:url($icons_sheet) no-repeat -1px -173px
                    margin-top:5px
    .connectmore
        a
            width: 100%
            display: block
        div.service
            background:#fff
            width: 125px;
            height: 115px;
            border:1px solid #dfdfdf
            display:block
            margin: 0 auto
            border-radius:3px
            &:hover
                border-color: #3b97ff;
                background: #fafeff;
                span.servicename
                    color: #4a9eff;
            &:active
                border-color: #1b77dd;
                background: #dae8ff;
                span.servicename
                    color: #2a7edd;
            img.servicelogo
                margin: 10px 25px 0px
                width:70px
                height:55px
            span.servicename-container
                line-height: 2.6em;
            span.servicename
                color:#575757
                display:inline-block
                text-align:center
                vertical-align:middle
                width:100%
                font-size: 14px;
                line-height: 1.5em;
            a.button
                display:block
                margin-top:20px