@import 'variables'

.computer
    padding:20px
    header
        margin-bottom:15px
        height:40px

        @import 'selector'

    #uploader
        .plupload_container
            border:1px solid #ccc
            box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 1px rgba(0, 0, 0, .1)
            background-color: #FFF
            top:0
            left:0
            position:relative
            table
                border: none
                position:relative
                display:block
                top:0
                left:0
                bottom:0
                right:0
                margin-bottom: 0
                width:100%
                thead
                    width:100%
                    display: block
                    tr
                        display:block
                        width:100%
                        th
                            display:inline-block
                            width: 59%
                            padding-left:0
                            padding-right:0
                        td:nth-child(1)
                            width:185px
                            padding-left:45px
                        td:nth-child(2)
                            width:205px
                            padding-left:45px
                        td:nth-child(3)
                            width:200px
                            padding-left:45px
                        td:nth-child(4)
                            width: 5px
                            padding: 0px
                tbody
                    width: 100%
                    display: block
                    padding: 0 20px
                    overflow-x: scroll
                    tr
                        display:block
                        width:100%
                        td
                            display:inline-block
                            width: 33%
                            &:nth-child(3)
                                width: 32%
                            &:nth-child(4)
                                cursor: pointer
                                width: 1%
                                padding: 0px
                                padding-left: 5px
                            div div
                                text-overflow: ellipsis
                                white-space: nowrap
                                overflow: hidden
                            div .ui-icon-circle-minus
                                background: url($icons_sheet) no-repeat -0px -146px
                                width: 16px
                                height: 16px
                                margin-top: -5px

                tfoot
                    position:absolute
                    bottom:0px
                    display:block
                    tr
                        display:block
                        width:100%
                        td
                            display:inline-block
                            width: 25%
                            width:164px
            .plupload_header
                display: none
                position:relative
            .plupload_filelist_header
                width: 100%
                margin-bottom: 0px
                background-color: #F5FAFF
                border: 0
                border-bottom: 1px solid #CCC
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.1)
                td
                    display:inline-block
                    width: 33%
                    padding-top: 25px
                    padding-bottom: 15px
                    padding-left: 0
                    padding-right: 0
                    &:first-child
                        font-weight: bold
                    &:not(:first-child)
                        font-weight: normal !important
            @media only screen and (max-width: 500px)
                left: 0
                right: 0
                border-left: none
                border-right: none
                table
                    thead
                        left: 0 !important
                        right: 0 !important
                        padding: 0 !important
                    tbody
                        tr td
                            line-height: 35px
                            &:first-child
                                font-size: 12px !important
            .plupload_content
                padding: 0
                height: 228px
                overflow-y: scroll
                position:relative
                .plupload_droptext
                    position: absolute
                    width: 100%
                    color: #AAA
                    padding-top: 10%
                    text-align: center
                tr.plupload_file
                    line-height: 38px
                    padding: 0 30px
                    font-size: 14px
                    color: #777
                    border-bottom: 1px solid #f2f2f2
                    &:last-child
                        border-bottom: none
                    .plupload_file_thumb
                        display: none
                    .plupload_file_status
                        float: right
                        margin-left: -0px
                    .plupload_file_name
                        float: left
                        margin-left: -15px
                        color: #222
                        div.plupload_file_name_wrapper
                            width: 100% !important
                            display: block !important
                            overflow: hidden
                            text-overflow: ellipsis
                    .plupload_file_size
                        float: right
                        margin-right: -234px

            .plupload_filelist_footer
                width: 100%
                margin-bottom: 0px
                background-color: #F5FAFF
                border: 0
                border-top: 1px solid #CCC
                position:relative
                .plupload_start
                    display: none
                .plupload_stop
                    display: none
                .plupload_upload_status
                    display: none

    .buttonscontainer
        position:absolute
        bottom:20px
        *:not(:last-child)
            margin-right:20px
        &.left
            left:20px
        &.right
            right:20px
    .textcontainer
        position:absolute
        bottom:30px
        span
            font-size:14px
            margin-right:5px
            color:#999999
        img
            height:20px
            margin-bottom:1px

    .kloading
        background: url($loading_icon) no-repeat center center;
        width: 0px
        height: 0px
        top:0
        left:0
        position: relative;
        z-index: 1
    .error
        background-color: #FFECEA
        border: 1px solid #DE2B0E
        color: #DE2B0E
        padding: 1em
        position: absolute
        bottom: 20px
        height: 40px
        width: 420px
        font-weight: bold
        font-size: 13px
        z-index: 1
        .error-text
            display:inline-block
            overflow: hidden;
            width: 380px;
            text-overflow:ellipsis
            white-space:nowrap
        .close
            float:right
            margin-top: -5px
            margin-right: -10px
            width: 16px
            height: 16px
            background: url($icons_sheet) 0px -146px no-repeat

ul.plupload_filelist_content
    margin: 0
    padding: 0 20px

.plupload_buttons
    display: block

.plupload_file_progress,
div.plupload_progress_container div.ui-progressbar-value
    background-color: #88aaff
    content: ""
    height: 15px
    border-radius: 99px
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;

div.plupload_progress_container div.ui-progressbar-value
    height:18px

div.progress_bar_container
    padding-top: 2px
    margin-right: 3%
    float: left
    width: 72%

.plupload_file_percent
    width: 25%
    float: left

li.plupload_file
    display: block !important
    *:not(.plupload_file_status)
        float: none !important
        margin: 0 !important
    div.plupload_file_action, div.plupload_file_fields
        display: none !important
    div.plupload_file_name, div.plupload_file_status, div.plupload_file_size
        display: inline-block !important
    div.plupload_file_status
        position: absolute
        left:280px
    div.plupload_file_size
        position: absolute
        left: 420px

.plupload_clearer
    display: none

div.plupload_cell.plupload_upload_status
    position:absolute
    left: 195px
.computer #uploader .plupload_container .plupload_filelist_footer .plupload_add
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) !important
    background: #3fd183 !important
    color: #fff !important
    border: 1px solid #3fd183 !important
    background-image: none !important
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0, rgba(255, 255, 255, 0.4) 0 1px 0 inset
    &:hover, &:focus
        background-color: #40d686 !important
        border: 1px solid #40d686 !important
        color: #fff
        background-image: none !important
    &:active
        background: #3fd183 !important
        border: 1px solid #3fd183
        background-image: none !important
        box-shadow: rgba(255, 255, 255, 0.6) 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px 1px 1px inset

@media only screen and (max-width: 615px)
    a.button.custom-add
        white-space: nowrap
        padding: 0 10px
        font-size: 14px

div.ui-container
    height:225px
    overflow:auto
    position:relative
div.ui-inner
    position:relative
    height:auto

div#droptext_dropbox
    top: 0px
    left: 0px
    position: absolute
    height: 100%
    z-index: 1
    transition: all 0
    width:95%
    div.relativer
        position: relative
        height: 225px

    span.thetext
        position: relative
        top: 33%
        display: block
        text-align: center
        color: #ccc
        font-size: 21px
    &.filedragover
        border-color: #ccc
        color: transparent
