@import 'variables'

.files
    padding:20px
    header
        margin-bottom:15px
        height:40px

        @import 'selector'

        .breadcrumbcontainer
            div.crumbutton
                width: 42px
                height: 42px
                background: #fcfbfc
                float: left
                border-radius: 5px
                border: 1px solid #ccc
                position: relative
                color: #000;
                font-size: 30px;
                font-weight: bold;
                line-height: 30px;
                text-align: center;
                overflow: visible
                &:before
                    margin:0
                    height:24px
                    width:24px
                    content: ""
                    float:left
                    top:10px
                    left:8px
                    background: url($icons_sheet) 0px -49px no-repeat
                div.crumbmenuwrap
                    display: none
                    position: absolute
                    padding-top: 13px
                    top: 39px
                    left: -10px
                    z-index: 100
                ul.crumbmenu
                    background: transparent
                    list-style: none
                    width: 250px
                    max-height: 400px
                    overflow-y: scroll
                    border: 1px solid #bbb
                    border-radius: 5px
                    margin: 0
                    li
                        background: #fff
                        font-size: 14px
                        padding: 5px 15px
                        border-bottom: 1px solid #ddd
                        &:last-child
                            border: none
                    li a
                        width:100%
                        display: block;
                        padding: 0 15px
                        line-height: 20px
                        border-bottom: 1px solid #ccc
                        font-weight:bold
                        padding:0
                        text-align:left
                        height: 25px
                        line-height: 25px
                        position: relative
                        div.foldericon
                            margin: 0 5px 3px 0
                        div.foldertext
                            position: absolute
                            top: 2px
                        &:last-child
                            border: none
                &:hover
                    div.crumbmenuwrap
                        display: block
            div.breadcrumbs
                margin: 0
                background: none
                border: none
                padding: 0
                overflow-x: visible
                overflow-y: visible
                text-overflow: ellipsis
                white-space: nowrap
                height: 50px
                width: 350px
                display: inline-block
                @media only screen and (max-width: 500px)
                    margin-top: 10px
                // patch for Freshdesk integration
                @media only screen and (max-width: 600px)
                    width: 250px
            .breadcrumbs > *
                color:#2A8EFF
                font-size:16px
                line-height:40px
                text-transform:none
                float: none
                /*
                display: inline-block
                max-width: 25%
                padding: 0
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                */
                &.fullwide
                    max-width: 300px
                a
                    display:inline-block
                    color:#2A8EFF
                    height: 40px
                    &.current
                        color:#2A8EFF
                    div
                        display: inline-block
                    div.foldericon
                        background: url($icons_sheet) 0px -42px no-repeat
                        width: 24px
                        height: 24px
                        margin-right: 5px
                        margin-top: 5px
                        vertical-align: top;
                    div.foldertext
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        max-width: 200px
                        vertical-align: top;
                        // patch for Freshdesk integration
                        @media only screen and (max-width: 600px)
                            width: 95px
            .breadcrumbs > *:not(:last-child)
                a
                    div.foldertext:hover
                        text-decoration:underline
                        cursor:pointer
            .breadcrumbs > *:last-child
                a
                    div.foldertext
                        font-weight: bold
            .breadcrumbs > *:not(:first-child):before
                display: inline-block
                content: ">"
                color:#aaa
                margin:0px 8px
                position: static
                .crumb
                    overflow:hidden
                    white-space:nowrap
            .breadcrumbs
                @media only screen and (max-width: 500px)
                    width: auto
                    float: right
                    height: 40px
                    margin-top: 10px
                    *:not(li)
                        display: inline-block;

        .actions
            float: right;
            .refresh-button
                background: url($icons_sheet) 0px -193px no-repeat
                width: 24px
                height: 24px
                margin-right: 7px
                margin-left: 9px
                margin-top: 5px
                display: inline-block;
                float: right;
            .new-folder-button
                background: url($icons_sheet) 0px -68px no-repeat
                width: 24px
                height: 24px
                margin-right: 7px
                margin-top: 5px
                display: inline-block;
                float: right;
            .search-form
                float: right;
                .search
                    float: right;
                #search-enable-button
                    background: url($icons_sheet) -1px -224px no-repeat
                    width: 24px
                    height: 24px
                    margin-right: 3px
                    margin-top: 9px
                    position: relative;
                    &.search-active
                        background-position: -1px -249px
                #search-query
                    width: 380px
                    height: 24px
                    margin-right: -12px
                    margin-top: 8px
                    display: none;
                    text-align: right;
                    padding: 0 5px;
                    // patch for Freshdesk integration
                    @media only screen and (max-width: 600px)
                        width: 280px
                #search-back-button
                    background: url($icons_sheet) 0px -146px no-repeat
                    width: 16px
                    height: 16px
                    margin-right: 7px
                    margin-left: 24px
                    margin-top: 9px
                    display: none;
    table
        display:block
        background:#fff
        border:1px solid #ccc
        border-bottom:none
        margin-bottom:0
        position:relative
        width:650px
        top:0
        left:0
        bottom:0
        right:0
        thead
            position:relative
            display:block
            width:100%
            top:0px
            left:0px
            right:0px
            height:59px
            padding:0 20px
            background:#f5faff
            border-bottom:1px solid #e5e5e5
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1)
            z-index:1
            tr
                display:block
                position:relative
                th
                    padding-top:25px
                    padding-bottom:15px
                    color:#43505e
                    font-weight:normal
                    cursor: pointer
                    -webkit-user-select: none; /* Chrome/Safari */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+ */
                    &:first-child
                        float:left
                        font-weight:bold
                        padding-left:25px
                        width: 350px
                    .arrow-up, .arrow-down
                            width: 10;
                            height: 10;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            float: right;
                            margin-top: 7px;
                    .arrow-down
                        border-top: 5px solid black;
                    .arrow-up
                        border-bottom: 5px solid black;
                    &:nth-child(2)
                        padding-left:15px
                        width: 100px
                    &:nth-child(3)
                        padding-left:25px
                        width: 155px
        tbody
            position:relative
            margin-top:0px
            display:block
            padding:0 20px
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            height: 297px;
        tbody tr
            display:block
            width:100%
            background:none
            border-bottom:1px solid #f2f2f2
            user-select: none; /* CSS3 (little to no support) */
            -ms-user-select: none; /* IE 10+ */
            -moz-user-select: none; /* Gecko (Firefox) */
            -webkit-user-select: none; /* Webkit (Safari, Chrome) */
            clear:both
            height:37px
            td
                user-select: none; /* CSS3 (little to no support) */
                -ms-user-select: none; /* IE 10+ */
                -moz-user-select: none; /* Gecko (Firefox) */
                -webkit-user-select: none; /* Webkit (Safari, Chrome) */
                color:#222
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                height:37px
                &.info-cell
                    display: block
                    text-align: center
                &:first-child:not(.info-cell)
                    float:left
                    width: 350px
                &:nth-child(2)
                    width: 100px
                &:nth-child(3)
                    width: 155px
        @media only screen and (max-width: 500px)
            left: 0
            right: 0
            top: 123px
            border-left: none
            border-right: none
            thead
                left: 0 !important
                right: 0 !important
                padding: 0 !important
                tr th:first-child
                    width: 120px !important
            tbody
                tr td
                    line-height: 35px
                    &:first-child
                        font-size: 12px !important
                        width: 120px !important
        @media only screen and (max-height: 500px), screen and (max-width: 500px)
            table
                thead tr th
                    padding: 10px 10px 5px !important
                tbody
                    padding: 0
                    margin-top: 35px

        &.clickable
            tbody tr
                cursor: pointer
                &.info-row
                    cursor: auto
                &:not(.info-row):not(.selected):hover
                    background-color: #fafcff
                    td
                        color:#222 !important
                td
                    &:last-child
                        white-space:nowrap
                        color: #777
                td span
                    div
                        width:20px
                        height:20px
                        margin-right:5px
                        margin-bottom:-5px
                        display:inline-block
                    div.foldericon
                        background: url($icons_sheet) 0px -25px no-repeat
                    div.fileicon
                        background: url($icons_sheet) 0px 0px no-repeat
                    div.closeicon
                        width: 10px;
                        height: 10px;
                        margin: 0px;
                        background: url($static_path + '/ext-assets/modal_icons.png') 0px 0px no-repeat
                    input
                        line-height: 14px;
                        height: 26px;
                        padding: 0 6px;
                        background: #fdfdfd;
                        border: 1px solid #dfdfdf;
                        width: 210px;
                        border-radius: 2px;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
                        -webkit-transition: 0.15s linear;
                        &:focus
                            outline: none;
                            border: 1px solid #3b97ff;
                            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 0 3px #3b97ff;
                            background: #fff;
                    span.cancel-button
                            background-color: #f2f2f0;
                            border: 1px solid #dfdfdf;
                    span.save-button
                        color: #fff;
                        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
                        font-weight: 600;
                        background-color: #009b49;
                        border: 1px solid #009b49;
                    span.inline-button
                        font-size: 12px;
                        text-decoration: none;
                        border-radius: 2px;
                        line-height: 22px;
                        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                        padding: 4px 10px;
                        margin-left: 4px;
                        cursor: pointer;
                        &:active
                            box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 #fff;
            tbody tr.disabled
                cursor: default
                &:hover
                    background-color: #fff
                    td
                        color:#777 !important
                td
                    color:#777
                    opacity: 0.5
        tbody tr.selected
            background-color: #3b97ff
            td
                color: #fff !important
            &:hover
                background-color: #3b97ff
                td
                    color: #fff !important

    footer
        height:50px
        .row
            height:60px
            input.kloudless-saver-name
                float:right
                margin-right:235px
                margin-top:17px
                height:40px
                font-size:12px
                width:225px
                padding:10px

    .buttonscontainer
        position:absolute
        right:20px
        bottom:20px
        *:not(:last-child)
            margin-right:20px
    .textcontainer
        position:absolute
        bottom:30px
        span
            font-size:14px
            margin-right:5px
            color:#999999
        img
            height:20px
            margin-bottom:1px

    .kloading
        background: url($loading_icon) no-repeat center center;
        width: 655px
        height: 350px
        top:100px
        left:20px
        position: absolute;
        z-index: 1
    .error
        background-color: #FFECEA
        border: 1px solid #DE2B0E
        color: #DE2B0E
        padding: 1em
        position: absolute
        bottom: 20px
        height: 40px
        width: 420px
        font-weight: bold
        font-size: 13px
        z-index: 1
        .error-text
            display:inline-block
            overflow: hidden
            width: 380px
            text-overflow: ellipsis
            white-space: nowrap
        .close
            float:right
            margin-top: -5px
            margin-right: -10px
            width: 16px
            height: 16px
            background: url($icons_sheet) 0px -146px no-repeat
