@font-face
  font-family 'Gesta-MdItalic'
  src url('font/gesta-mediumitalic-webfont.eot')
  src url('font/gesta-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-mediumitalic-webfont.woff') format('woff'),
    url('font/gesta-mediumitalic-webfont.ttf') format('truetype'),
    url('font/gesta-mediumitalic-webfont.svg#Gesta-MdItalic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-Regular'
  src url('font/gesta-regular-webfont.eot')
  src url('font/gesta-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-regular-webfont.woff') format('woff'),
    url('font/gesta-regular-webfont.ttf') format('truetype'),
    url('font/gesta-regular-webfont.svg#Gesta-Regular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-LtRegular'
  src url('font/gesta-light-webfont.eot')
  src url('font/gesta-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-light-webfont.woff') format('woff'),
    url('font/gesta-light-webfont.ttf') format('truetype'),
    url('font/gesta-light-webfont.svg#Gesta-LtRegular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-LtItalic'
  src url('font/gesta-lightitalic-webfont.eot')
  src url('font/gesta-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-lightitalic-webfont.woff') format('woff'),
    url('font/gesta-lightitalic-webfont.ttf') format('truetype'),
    url('font/gesta-lightitalic-webfont.svg#GestaLtItalic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-Medium'
  src url('font/gesta-medium-webfont.eot')
  src url('font/gesta-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-medium-webfont.woff') format('woff'),
    url('font/gesta-medium-webfont.ttf') format('truetype'),
    url('font/gesta-medium-webfont.svg#Gesta-Medium') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-Bold'
  src url('font/gesta-bold-webfont.eot')
  src url('font/gesta-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-bold-webfont.woff') format('woff'),
    url('font/gesta-bold-webfont.ttf') format('truetype'),
    url('font/gesta-bold-webfont.svg#Gesta-Bold') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-Bold-Italic'
  src url('font/gesta-bolditalic-webfont.eot')
  src url('font/gesta-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-bolditalic-webfont.woff') format('woff'),
    url('font/gesta-bolditalic-webfont.ttf') format('truetype'),
    url('font/gesta-bolditalic-webfont.svg#Gesta-Bold-Italic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-Italic'
  src url('font/gesta-italic-webfont.eot')
  src url('font/gesta-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-italic-webfont.woff') format('woff'),
    url('font/gesta-italic-webfont.ttf') format('truetype'),
    url('font/gesta-italic-webfont.svg#Gesta-Italic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gesta-Light'
  src url('font/gesta-light-webfont.eot')
  src url('font/gesta-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/gesta-light-webfont.woff') format('woff'),
    url('font/gesta-light-webfont.ttf') format('truetype'),
    url('font/gesta-light-webfont.svg#Gesta-Light') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'MetaScWebMedium'
  src url('font/MetaScWeb-Medium.eot')
  src url('font/MetaScWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('font/MetaScWeb-Medium.woff') format('woff')
  font-weight normal
  font-style normal
