@import 'variables'

$plupload_footer_h = 60px
$new_folder_non_input_w = 200px
$block_h = 48px

$header_h = $block_h * 1
$control_panel_h = $block_h * 3
$footer_h = $block_h * 2
$saver_name_h = $block_h * 1

.mobile-view
    .files.savername
        table tbody
            height: 'calc(100vh - %s - %s - %s - %s)' % ($header_h $control_panel_h $footer_h $saver_name_h);
        footer
            height: 144px;
    .actions
        width 100%
    .buttonscontainer
        height: $block_h;
        position: static;
        .button
            margin: 0;
            border-radius: 0;
            box-shadow: none;
            width: 50%;
            line-height: $block_h;
    .computer
        padding: 0;
        header
            margin: 0;
            height: $block_h;
            .accountselect
                margin: 0;
                float: none;
                width 100%
            button.accountsbutton
                height: $block_h;
                line-height: 42px;
                div.name
                    width auto
                    height auto
        .buttonscontainer
            float: none !important;
        #uploader .plupload_wrapper .plupload_container
            .ui-container, .relativer
                height: 'calc(100vh - %s - %s - %s)' % ($header_h $plupload_footer_h $footer_h);
            table.plupload_filelist:first-of-type thead
                display: none;
            .plupload_filelist_content td
                &:nth-child(1)
                    width: 78%;
                &:nth-child(2)
                    width: 20%;
                    .progress_bar_container
                        display: none;
                    .plupload_file_percent
                        width: 100%;
                &:nth-child(3)
                    display: none;
            .plupload_filelist_footer
                height: 60px;
                td
                    &:nth-child(2), &:nth-child(3)
                        display: none;
                    &.plupload_file_name, &.plupload_file_size
                        width: 50%;

    .right
        float inherit
    .files
        padding: 0;
        header
            margin: 0;
            height: $block_h;
            .accountselect
                margin: 0;
                float: none;
                height auto
                width 100%
                div#account-dropdown.dropdown
                    height auto
                    width 100%
                    ul.dropdown-menu
                        li
                            padding 1em
                            height auto
                            line-height inherit
                            div.accountname
                                width auto
                                height auto
                                vertical-align: bottom
                    ul.dropdown-menu
                        width 100%
                        max-width 100%
                        max-height inherit
                button.accountsbutton
                    height: $block_h;
                    line-height: 42px;
                    div.name
                        width auto
                        height auto
            .actions
                float inherit
            .new-folder-button
                background url($icons_explorer_lg) 0px -345px no-repeat
                width 112px
                height 112px
            .refresh-button
                background url($icons_explorer_lg) 0px -900px no-repeat
                width 75px
                height 112px
                margin-right 15px
                margin-left 15px
            .search-form
                float inherit
                #search-enable-button.search-active
                    background-position: -1px -214px
                #search-enable-butt
                    background url($icons_explorer_lg) 0px -1015px no-repeat
                    width 112px
                    height 112px
                #search-back-button
                    background url($icons_explorer_lg) 0px -770px no-repeat
                    width 87px
                    height 112px
                #search-query
                    height 112px
                    width 75%
                    text-align left
                    font-size 4em
            .breadcrumbcontainer
                height auto
                width 100%
                .breadcrumbs
                    margin 25px 0 0 25px;
                    height auto;
                    > *
                        color #2a8eff
                        font-size 2em
                        line-height 2em
                        a div.foldericon
                            background url($explorer_spritesheet) 0px -110px no-repeat
                            width 60px
                            height 60px
            div.crumbutton
                width 60px
                height 60px
                &:before
                    width 60px
                    height 60px
                    background url($explorer_spritesheet) -4px -124px no-repeat
                    margin-top 0
                    left 8px
                ul.crumbmenu
                    width auto
                    li a
                        height 100%
                        font-size 2em
                        line-height: 1.4em;
        table
            display inherit
            height auto
            width 100%
            top: 0;
            thead
                height auto
                tr th
                    &:first-child
                        line-height inherit
                        float none
            tbody
                padding: 0;
                width: 100%;
                height: 'calc(100vh - %s - %s - %s)' % ($header_h $control_panel_h $footer_h);
                tr td
                    &:first-child
                        float: none;
            &.clickable tbody tr
                height auto
                td
                    padding: 0;
                td span
                    &[data-bind^="text"]
                        display: inline-block;
                        width: 80vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        font-size: 14px;
                    &.inline-button
                        font-size: 14px;
                        font-weight: 400;
                    input
                        font-size: 14px;
                        width: 'calc(100vw - %s)' % $new_folder_non_input_w;
                    div
                        width 45px
                        height 60px
                        vertical-align middle
                        margin-right inherit
                        margin-bottom inherit
                        display inline-block
                        &.closeicon, &.fileicon, &.foldericon
                            transform: scale(0.5)
                        &.closeicon
                            background url($explorer_spritesheet) 15px -367px no-repeat
                        &.fileicon
                            background url($explorer_spritesheet) 0 0 no-repeat
                        &.foldericon
                            background url($explorer_spritesheet) 0px -60px no-repeat
    
    .textcontainer
        width 100%
        position inherit
        height: $block_h;
        text-align center
        span
            font-size inherit
        img
            height auto
            transform: scale(0.5)
    .kloading
        background: url($loading_icon) no-repeat center center;
        width: 21px;
        background-size: 21px;
        height: 21px;
        top: 'calc(%s - 50vh - 10.5px)' % $footer_h;
        left: calc(50vw - 10.5px);
        position: absolute;
        z-index: 1;
        
    div.accounts
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        li.linked-service
            div.servicename
                display: none;
            div.accounts
                width 100%
                ul.accountnames
                    li.account
                        margin: 0;
                        list-style: none;
                        padding: 5px 5% 0 5%;
                        div
                            width auto
                            height: auto
                            line-height 60px
                            img.servicelogo, a
                                vertical-align: middle;
                            img.servicelogo
                                display: inline-block;
                            a
                                display: inline-block;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                max-width: 200px;
                    a.alert
                        width: 22px;
                        height: 22px;
                        background: url($explorer_spritesheet) 0px -910px no-repeat
                        margin-top: 18px;
                a.closeexplorer
                    top 25px
                    right 28px
                    width 25px
                    height 25px
                    background url($icons_sheet) 0px -312px no-repeat
                    background-size 50px
        .connectmore div.service
            width 100%
    .medium-block-grid-4 > li
        width 50%
        text-align center

    .control-panel
        .icon-buttons
            display: flex;
        .icon-button
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            height: $block_h;
        .icon-new-folder, .icon-new-refresh
            transform: scale(0.3);
            width: 112px;
            height: 80px;
        .icon-new-folder
            background url($icons_explorer_lg) 0px -345px no-repeat
        .icon-new-refresh
            background url($icons_explorer_lg) 0px -900px no-repeat
        input, select
            height: $block_h;
            margin: 0;
        input
            border: 1px solid #cccccc;
            border-radius: 0;

    footer
        height: 96px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        div.error
            top: $block_h;
            height: $block_h;
            width: 100%;
            .error-text
                width: 100%;
            .close
                margin-top: 0;
                margin-right: -16px;
        div.row
            position: relative;
            input.kloudless-saver-name
                border-radius: 0;
                font-size: 14px;
                height: $block_h;
                width: 100%;
                float: none;
                margin: 0;