// Static assets
$static_path = "https://s3-us-west-2.amazonaws.com/static-assets.kloudless.com"
$icons_sheet = $static_path + '/api/icons_fileexplorer.png'
$loading_icon = $static_path + '/ext-assets/loading_21x21.gif'