// Static assets
@base_url: 'https://s3-us-west-2.amazonaws.com';
@static_path: "@{base_url}/static-assets.kloudless.com";
@icons_sheet: "@{static_path}/api/icons_fileexplorer.png";
@loading_icon: "@{static_path}/ext-assets/loading_21x21.gif";
@explorer_path: "@{base_url}/kloudless-static-assets/common/explorer";
@icons_explorer_lg: "@{explorer_path}/icons_fileexplorer_large.png";
@explorer_spritesheet: "@{explorer_path}/file_explorer_spritesheet.png";
@files_modal_padding: 20px;

@primary: #f5f6f7;

@background: #eaf5ff;
@main_accent: #5a81e6;
@main_text: #000000;
@secondary_text: #7f7f7f;

@icon_placeholder_branding: #b2b2b2;
@divider: #eeeeee;
@button_inactive: #c2ceef;

@shadow: rgba(209, 209, 209, 0.5);
@error_outline: #ff342e;
@error_outline: #ffc8c7;