.breadcrumb(data-bind='with: files')
  .dropdown(id='breadcrumb-dropdown')
    .box.box--shadow
      .box__section
        .list
          .list__item(data-bind='click: up.bind(null, breadcrumbs().length)')
            .icon
              .icon__folder
            .list__text(data-bind='text: root_folder_name')
          // ko foreach: breadcrumbs
          .list__item(data-bind='click: $parent.up.bind(null, $parent.breadcrumbs().length - parseInt("" + ($index() + 1), 10))')
            .icon
              .icon__folder
            .list__text(data-bind='text: $data.path')
            // ko if: $parent.breadcrumbs().length -1 === $index()
            .icon.icon--small
              .icon__checked
            // /ko
          // /ko
  //- breadcrumb__hidden is a hidden element which is used to measure the
  //- breadcrumb width and decide whether to ellipsis breadcrumb
  .breadcrumb__hidden
  .icon.icon--button.icon--large(data-bind=`
      attr: {'title': root_folder_name},
      click: up.bind(null, breadcrumbs().length)`)
    .icon__root-dir
  .breadcrumb__toggle-btn(
    data-bind="css: {'breadcrumb__toggle-btn--hidden': breadcrumbs().filter(function(e) { return !e.visible}).length === 0}")
    .icon
      .icon__next
    .breadcrumb__text.breadcrumb__text--button(
      data-dropdown-id='breadcrumb-dropdown')
      | ...
  // ko foreach: breadcrumbs
  // ko if: $data.visible === true
  .icon
    .icon__next
  .breadcrumb__text(data-bind=`
    attr: {'title': $data.path},
    css: {
      'breadcrumb__text--button': $parent.breadcrumbs().length -1 !== $index(),
      'breadcrumb__text--ellipsis': $parent.breadcrumbs().filter(function(e) { return e.visible }).length === 1 || $parent.breadcrumbs().length -1 !== $index(),
    },
    click: $parent.up.bind(null, $parent.breadcrumbs().length - parseInt("" + ($index() + 1), 10)),
    text: $data.path`)
  // /ko
  // /ko
