.container(data-bind="css: { 'container--is-loading': loading() || processingConfirm() }")
  .container__header
    .flex-row.align-items-center
      // ko if: $root.flavor() == 'chooser'
      .flex-no-shrink.mr
        .icon.icon--large(data-bind=`
            click: files.startSearchMode, css: { 'icon--disabled': loading}`)
          .icon__search
      // /ko
      .flex-grow.mr
        include selector
      .flex-no-shrink
        .icon.icon--large(data-bind='click: cancel')
          .icon__close
  .container__body
    .flex-col.flex-grow.h-100
      .flex-no-shrink.w-100
        .flex-row.mb
          .flex-grow.mr
            include breadcrumb
          .flex-no-shrink
            .icon.icon--button.icon--large(data-bind='click: files.refresh')
              .icon__refresh
          // ko if: files.allow_newdir
          .flex-no-shrink.ml
            .icon.icon--button.icon--large(data-bind='click: files.newdir')
              .icon__new-folder
          // /ko
      include filetable

  include footer
