.container__footer
  // ko ifnot: logo_url()
  .flex-row.justify-content-center
    .icon.icon--xsmall
      .icon__brand
    | &nbsp;
    a.container__footer-link(
      href="https://kloudless.com", target="_blank",
      data-bind='translate: {html: { message: "global/poweredby" }}')
  // /ko
