div#kloudless-file-picker
  div.h-100.w-100(data-bind="template: {name: current}")

  // views
  script(type='text/html', id='accounts')
    include accounts
  script(type='text/html', id='files')
    include files
  script(type='text/html', id='computer')
    include computer
  script(type='text/html', id='addConfirm')
    include addconfirm
  script(type='text/html', id='dropzone')
    include dropzone
  script(type='text/html', id='search')
    include search


