doctype html
html
  head
    title Kloudless File Explorer
    link(rel="stylesheet", href="/dist/explorer/css/explorer.css")
  body

    include ../../dist/explorer/_explorer.html

    script(type="text/javascript", src="/dist/explorer/js/explorer.js")
