doctype html
html
  head
    title Kloudless File Explorer
    link(rel="stylesheet", href="/dist/explorer/css/explorer.css")
  body

    include ../../dist/explorer/_explorer.html

    //- Dev:
    script(type="text/javascript", data-main="/dist/explorer/js/app.js", src="/dist/explorer/js/vendor/require.js")
    //- Release:
    //- script(type="text/javascript", src="/dist/explorer/js/explorer.js")
