extends layout

block scripts
  script(type='text/javascript').
    window.app_id = "#{app_id}";
  script(src='/dist/loader/js/loader.js')
  script(src='/dist/loader/js/loader.js', data-kloudless-object='Kloudless2')
  script(src='/javascripts/file-explorer-test-build.js')

block content
  p Click below to test the explorer/saver.
  button#file-chooser File Chooser
  button#file-chooser-renew Renew File Chooser
  button#folder-chooser Folder Chooser
  button#saver Saver
  button#close Close
  button#update-explorer-url Update Explorer URL
  br
  br
  p Drop Zone
  div#dropzone(style="border-style:dashed; border-width:1px; width:600px;height:100px")
  button#dropzone-renew Renew Drop Zone
  div#logger

