doctype html
html
  head
    title= Kloudless
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    block head
  body
    block content
    block scripts