.accounts
  header
    //- Back button
    .back
      .backcontain(data-bind='if: accounts.all().length > 0')
        a.backbtn(data-bind='click: $root.setLocation.bind($data, "#/files")')
          div.arrow
        img.klogo(data-bind='attr: {src: logo_url() || $root.static("/ext-assets/kloudless32x33.png")}')
        span(data-bind='translate: "accounts/manage"') Manage your cloud storage accounts here.
      .nobackcontain(data-bind='if: accounts.all().length < 1')
        div.nobackbtn
        img.klogo(data-bind='attr: {src: logo_url() || $root.static("/ext-assets/kloudless32x33.png")}')
        span(data-bind='translate: "accounts/chooseaccount"') Welcome! Please choose a service to connect.
    a.closeexplorer(data-bind='click: cancel')


  .containall
    .connectedaccounts(data-bind='with: accounts')
      div.header(data-bind='if: all().length > 0')
        .intro-message(data-bind='translate: "accounts/connectedaccounts"') Connected accounts
        .logout-message(data-bind='click: logout, translate: "accounts/logout"') logout
        //- Linked accounts
        //- Each service group
        ul.linked-services
          div.service-group(data-bind='foreach: {data: Object.keys(ko.toJS(by_service)), as: "service"}')
            li.linked-service(data-bind='if: $root.services()[service]')
              div.servicename
                img.servicelogo(data-bind='attr: {src: $root.services()[service].logo}')
                span(data-bind='text: $root.services()[service].name')
              div.accounts(data-bind='foreach: ko.toJS($parent.by_service)[service]')
                ul.accountnames
                  li.account
                    div
                      a(data-bind='click: $root.setLocation.bind($data, "#/files/" + account), text: account_name')
                    //-.unlink
                    a.alert(data-bind='click: function (data, element) { if (!$root.localizedConfirmPopup("accounts/confirmRemove")) return false; $root.setLocation("#/account/disconnect/" + account) }')
                //-.refresh(data-bind='if: !connected')
                //-  a.button(data-bind='click: $root.setLocation.bind($data, "#/account/reconnect/" + account)') Refresh
            // ko if: $index() === (Object.keys($parent.by_service()).length - 1) && $parent.computer()
            li.linked-service
              div.servicename
                img.servicelogo(data-bind='attr: {src: $root.static("/webapp/sources/computer.png")}')
                span(data-bind='text: "Upload", translate: "accounts/upload"')
              div.accounts
                ul.accountnames
                  li.account
                    div
                      a(data-bind='click: $root.setLocation.bind($data, "#/computer"), text: "Upload from your computer", translate: "accounts/uploadfromcomputer"')
            // /ko

      // ko if: Object.values($parent.services()).filter(function (service) {return service.visible}).length > 0
      .row(data-bind='if: all().length > 0')
        div.intro-message.more(data-bind='translate: "accounts/connectmore"') Connect more!
      // /ko

    //- Add a new account.
    .connectmore
      ul.small-block-grid-2.medium-block-grid-4.large-block-grid-6.add-account(data-bind='foreach: {data: Object.values(services()), as: "service"}')
        // ko ifnot: $parent.accounts.all().length > 0 && service.id == 'computer' || !service.visible
        li
          a(data-bind='click: $parent.accounts.connect.bind(null, id)')
            div.service
              img.servicelogo(data-bind='attr: {src: logo}')
              span.servicename-container
                span.servicename(data-bind='text: service.name')
        // /ko
