.computer
  .computerinner
    header
      //- Select account
      .accountselect(data-bind='with: accounts')
        button.button.accountsbutton(href="#")
          img.accounticon(data-bind='attr: {src: "https://s3-us-west-2.amazonaws.com/static-assets.kloudless.com/webapp/sources/computer.png"}')
          div.name My Computer
          div.arrow
        div#account-dropdown.dropdown.dropdown-tip
          ul.dropdown-menu
            // ko foreach: all
            li
              a(data-bind='attr: {href: "#/files/" + account}')
                img.accounticon(data-bind='attr: {src: "https://s3-us-west-2.amazonaws.com/static-assets.kloudless.com/webapp/sources/" + service + ".png"}')
                div.accountname(data-bind='text: account_name')
            // /ko
            li
              a(href='#/computer')
                div.computericon
                span My Computer
            li
              a(href='#/accounts')
                div.accountsicon
                span Accounts

    //- Current Upload View
    div#uploader
      p Your browser doesn't have Flash, Silverlight or HTML5 support.

    //- Footer buttons
    footer
      .row
        div.kloading(data-bind='visible: loading')
        div.error(data-alert, data-bind='visible: error().length > 0')
          div.error-text(data-bind='text: error, attr: {title: error}')
          a.close(href='#')
        .buttonscontainer.right
          a#cancel-button(href='javascript:void(0)').button.reg Cancel
          a#upload-button.button.blue(href='javascript:void(0)') Upload
        div(data-bind='template: {name: "powered-by-kl-footer"}')

    //- Debug info, since we don't have proper UI elements
