.computer
  .computerinner
    header
      include selector

    //- Current Upload View
    div#uploader
      p(data-bind='translate: "computer/nosupport"') Your browser doesn't have Flash, Silverlight or HTML5 support.

    
    //- Footer buttons
    footer
      .row
        div.kloading(data-bind='visible: loading')
        div.error(data-alert, data-bind='visible: error().length > 0')
          div.error-text(data-bind='text: error, attr: {title: error}')
          a.close(href='#')
        .buttonscontainer.right
          a#cancel-button(href='javascript:void(0)', data-bind='translate: "global/cancel"').button.reg Cancel
          a#upload-button.button.blue(href='javascript:void(0)', data-bind='translate: "global/upload"') Upload
        div(data-bind='template: {name: "powered-by-kl-footer"}')

    //- Debug info, since we don't have proper UI elements
