.container(data-bind="template: {name: current}")

script(type='text/html', id='accounts')
  include accounts
script(type='text/html', id='files')
  include files
script(type='text/html', id='computer')
  include computer
