.container(data-bind="template: {name: current}")

// views
script(type='text/html', id='accounts')
  include accounts
script(type='text/html', id='files')
  include files
script(type='text/html', id='computer')
  include computer
script(type='text/html', id='addconfirm')
  include addconfirm
script(type='text/html', id='dropzone')
  include dropzone

// partials
script(type='text/html', id='powered-by-kl-footer')
  include partials/footer-powered
