//- Select account
.accountselect(data-bind='with: accounts')
  button.button.accountsbutton(data-bind='visible: show_account_selector')
    img.accounticon(data-bind='attr: {src: "https://s3-us-west-2.amazonaws.com/static-assets.kloudless.com/webapp/sources/" + active() + ".png"}')
    div.name(data-bind='text: name')
    div.arrow
  div#account-dropdown.dropdown.dropdown-tip
    ul.dropdown-menu
      // ko foreach: all
      li(data-bind='attr: {title: $parent.friendly_name(service) + ": " + account_name}, click: $root.setLocation.bind($data, "#/files/" + account)')
        img.accounticon(data-bind='attr: {src: "https://s3-us-west-2.amazonaws.com/static-assets.kloudless.com/webapp/sources/" + service + ".png"}')
        div.accountname(data-bind='text: account_name')
      // /ko
      // ko if: computer()
      li(data-bind='click: $root.setLocation.bind($data, "#/computer")')
        div.computericon
        span My Computer
      // /ko
      li(data-bind='click: $root.setLocation.bind($data, "#/accounts")')
        div.accountsicon
        span Accounts
