//- Select account
.accountselect(data-bind='with: accounts')
  button.button.accountsbutton
    img.accounticon(data-bind='attr: {src: active_logo()}')
    div.name(data-bind='text: name')
    div.arrow
  div#account-dropdown.dropdown.dropdown-tip
    ul.dropdown-menu
      // ko foreach: all
      // ko if: $root.services()[service]
      li(data-bind='attr: {title: $root.services()[service].name + ": " + account_name}, click: $root.setLocation.bind($data, "#/files/" + account)')
        img.accounticon(data-bind='attr: {src: $root.services()[service].logo}')
        div.accountname(data-bind='text: account_name')
      // /ko
      // /ko
      // ko if: computer()
      li(data-bind='click: $root.setLocation.bind($data, "#/computer")')
        div.computericon
        span(data-bind='translate: "selector/mycomputer"') My Computer
      // /ko
      // ko if: account_management()
      li(data-bind='click: $root.setLocation.bind($data, "#/accounts")')
        div.accountsicon
        span(data-bind='translate: "selector/accounts"') Accounts
      // /ko
