<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <% if (distTest) { %>
    <link rel="stylesheet" href="/dev-server/static/style.css">
  <% } else { %>
    <link rel="stylesheet" href="/static/style.css">
  <% } %>
  <title>Kloudless File Explorer Test Page</title>
</head>
<body>
  <p>
    Click below to test the explorer/saver.
  </p>
  <button id="file-chooser">File Chooser</button>
  <button id="file-chooser-renew">Renew File Chooser</button>
  <button id="folder-chooser">Folder Chooser</button>
  <button id="dropzone-create-button">Create Dropzone</button>
  <button id="saver">Saver</button>
  <button id="close">Close</button>
  <button id="update-explorer-url">Update Explorer URL</button>
  <br>
  <br>
  <p>Drop Zone</p>
  <div
    id="dropzone"
    style="border-style:dashed; border-width:1px; width:600px;height:100px">
  </div>
  <button id="dropzone-renew">Renew Drop Zone</button>
  <div id="logger"></div>

  <% if (distTest) { %>
    <script src="../../dist/loader/loader.min.js"></script>
    <script src="../../dist/loader/loader.min.js" data-kloudless-object='Kloudless2'>
    </script>
    <script>
      window.Kloudless.fileExplorer.setGlobalOptions({
        explorerUrl: "<%= explorerUrlPlaceHolder %>",
      });
      window.Kloudless2.setGlobalOptions({
        explorerUrl: "<%= explorerUrlPlaceHolder %>",
      });
      window.appId = "<%= appIdPlaceHolder %>";
      window.customCss = '/dev-server/static/custom.css';
    </script>
    <script src="./index.js"></script>
  <% } else { %>
    <script src="loader/loader.js"></script>
    <script src="loader/loader.js" data-kloudless-object='Kloudless2'>
    </script>
    <script>
      window.customCss = '/static/custom.css';
    </script>
  <% } %>
</body>
</html>